// Here you can add other styles
.c-sidebar {
  background: #0b795f !important;
}

.c-sidebar .c-sidebar-nav-link:hover, .c-sidebar .c-sidebar-nav-dropdown-toggle:hover {
  color: #fff;
  background: #0cb18a !important;
}